<div class="commerce-insights-summary">
    <p>
      Shipped orders are
      <summary-datapoint :change-value="stats.products.summary.shipmentsPercentChange" up-down></summary-datapoint>
      and sales are
      <summary-datapoint :change-value="stats.products.summary.shipmentsPercentChange" up-down></summary-datapoint>.
    </p>
</div>

<div class="-mx-3">
    <div class="w-full" style="display: flex;">
        <div class="w-full p-3">
            <div class="-m-3 mini-sparkline-grid">
                <div class="w-1/3">
                    <div class="p-3">
                        <mini-sparkline-panel
                            title="Total Orders"
                            :caption="stats.orders.totalOrders.series"
                            :trend="Math.abs(stats.orders.totalOrders.percentChange) + '%'"
                            :positive-trend="stats.orders.totalOrders.percentChange >= 0"
                            :value="stats.orders.totalOrders.total"
                            :data="stats.orders.totalOrders.series"
                        ></mini-sparkline-panel>
                    </div>
                </div>

                <div class="w-1/3">
                    <div class="p-3">
                        <mini-sparkline-panel
                            title="Average Value"
                            caption="Average completed order value"
                            :trend="Math.abs(stats.orders.averageValue.percentChange) + '%'"
                            :positive-trend="stats.orders.averageValue.percentChange >= 0"
                            :value="stats.orders.averageValue.total"
                            :data="stats.orders.averageValue.series"
                        ></mini-sparkline-panel>
                    </div>
                </div>

                <div class="w-1/3">
                    <div class="p-3">
                        <mini-sparkline-panel
                            title="Average Order Quantity"
                            caption="Average items per order"
                            :trend="Math.abs(stats.orders.averageQuantity.percentChange) + '%'"
                            :positive-trend="stats.orders.averageQuantity.percentChange >= 0"
                            :value="stats.orders.averageQuantity.total"
                            :data="stats.orders.averageQuantity.series"
                        ></mini-sparkline-panel>
                    </div>
                </div>

                <div class="w-1/3">
                    <div class="p-3">
                        <mini-sparkline-panel
                            title="Total Customers"
                            caption="Customers with orders"
                            :trend="Math.abs(stats.orders.totalCustomers.percentChange) + '%'"
                            :positive-trend="stats.orders.totalCustomers.percentChange >= 0"
                            :value="stats.orders.totalCustomers.total"
                            :data="stats.orders.totalCustomers.series"
                        ></mini-sparkline-panel>
                    </div>
                </div>

                <div class="w-1/3">
                    <div class="p-3">
                        <mini-sparkline-panel
                            title="New Customers"
                            caption="New customers with orders"
                            :trend="Math.abs(stats.orders.newCustomers.percentChange) + '%'"
                            :positive-trend="stats.orders.newCustomers.percentChange >= 0"
                            :value="stats.orders.newCustomers.total"
                            :data="stats.orders.newCustomers.series"
                        ></mini-sparkline-panel>
                    </div>
                </div>

                <div class="w-1/3">
                    <div class="p-3">
                        <mini-sparkline-panel
                            title="Returning Customers"
                            caption="Returning customers with orders"
                            :trend="Math.abs(stats.orders.returningCustomers.percentChange) + '%'"
                            :positive-trend="stats.orders.returningCustomers.percentChange >= 0"
                            :value="stats.orders.returningCustomers.total"
                            :data="stats.orders.returningCustomers.series"
                        ></mini-sparkline-panel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <combined-search
        element-type="Orders"
        :elements="orders"
        :type-options='[
            { "label": "Paid", "value": "Paid" },
            { "label": "Shipped", "value": "Shipped" },
            { "label": "Canceled", "value": "Canceled" }
        ]'
    />
</div>
