<div>
  {% set statuses = [] %}

  {% for status in craft.commerce.orderStatuses.allOrderStatuses %}
    {% set statuses = statuses|merge([{label: status.name, value: status.name }]) %}
  {% endfor %}

  <Orders
    :elements="orders"
    :stats="stats"
    :date-start="dateRange.start"
    :date-end="dateRange.end"
    :type-options='{{ (statuses|json_encode|raw) }}'
  ></Orders>
</div>
