<div>
  <combined-search
    element-type="Orders"
    :elements="orders"
    :product-query="true"
    :type-options='[
      { "label": "Paid", "value": "Paid" },
      { "label": "Shipped", "value": "Shipped" },
      { "label": "Canceled", "value": "Canceled" }
    ]'
  />
</div>
