<div class="commerce-insights-summary">
    <p>Revenue <summary-datapoint v-bind:change-value="stats.revenue.summary.revenuePercentChange" v-bind:placeholder-width="117"></summary-datapoint> and net profits <summary-datapoint v-bind:change-value="stats.revenue.summary.profitPercentChange"></summary-datapoint> this period.</p>
</div>

<div class="w-full -mx-3" style="display: flex;">
    <div class="w-2/3">
        <div class="p-3 h-full">
            <tabbed-panes>
                <tab
                    title="Revenue" 
                    v-bind:trend="Math.abs(stats.revenue.revenue.percentChange) + '%'" 
                    v-bind:positive-trend="stats.revenue.revenue.percentChange >= 0"
                >
                    <line-chart-panel 
                        v-bind:current-value="stats.revenue.revenue.currentPeriod"
                        v-bind:previous-value="stats.revenue.revenue.previousPeriod"
                        v-bind:current-data="stats.revenue.revenue.currentSeries"
                        v-bind:previous-data="stats.revenue.revenue.previousSeries"
                    />
                </tab>
                <tab 
                    title="Net Profits" 
                    trend="8%" 
                    positive-trend
                >   
                    <p>This is just a paragraph tag nested within the <code>tab</code> component.</p>
                </tab>
                <tab 
                    title="Gross Profits" 
                    v-bind:trend="Math.abs(stats.revenue.grossProfits.percentChange) + '%'" 
                    v-bind:positive-trend="stats.revenue.grossProfits.percentChange >= 0"
                >
                    <line-chart-panel 
                        v-bind:current-value="stats.revenue.grossProfits.currentPeriod"
                        v-bind:previous-value="stats.revenue.grossProfits.previousPeriod"
                        v-bind:current-data="stats.revenue.grossProfits.currentSeries"
                        v-bind:previous-data="stats.revenue.grossProfits.previousSeries"
                    />
                </tab>
                <tab 
                    title="Average Order" 
                    v-bind:trend="Math.abs(stats.revenue.averageOrder.percentChange) + '%'" 
                    v-bind:positive-trend="stats.revenue.averageOrder.percentChange >= 0"
                >
                    <line-chart-panel 
                        v-bind:current-value="stats.revenue.averageOrder.currentPeriod"
                        v-bind:previous-value="stats.revenue.averageOrder.previousPeriod"
                        v-bind:current-data="stats.revenue.averageOrder.currentSeries"
                        v-bind:previous-data="stats.revenue.averageOrder.previousSeries"
                    />
                </tab>
            </tabbed-panes>
        </div>
    </div>
    <div class="w-1/3">
        <div class="p-3">
            <donut-panel 
                title="Most Profitable Categories" 
                is-vertical
                v-bind:data='stats.revenue.profitableCategories'
            />
        </div>
    </div>
</div>

<div class="w-full -mx-3" style="display: flex;">
    <div class="w-3/5">
        <div class="p-3">
            <pane title="Best Performers">
                <table class="data fullwidth mini-table short-bottom">
                    <thead>
                        <th class="text-left">Item</th>
                        <th class="text-left">Category</th>
                        <th class="text-right">Quantity</th>
                        <th class="text-right">Sales</th>
                    </thead>
                    <tbody>
                        <tr v-for="item in stats.revenue.bestPerformers">
                            <td><a href="">${item.title}</a></td>
                            <td>${item.type}</td>
                            <td class="text-right">${item.quantity}</td>
                            <td class="text-right">${item.sales}</td>
                        </tr>
                    </tbody>
                </table>
            </pane>
        </div>
    </div>
    <div class="w-2/5">
        <div class="p-3">
            <sparkline-panel 
                class="mb-6"
                title="Total Orders" 
                caption="Sales this period"
                v-bind:trend="Math.abs(stats.revenue.totalOrdersSummary.percentChange) + '%'" 
                v-bind:positive-trend="stats.revenue.totalOrdersSummary.percentChange >= 0"
                v-bind:value="stats.revenue.totalOrdersSummary.total"
                v-bind:data="stats.revenue.totalOrdersSummary.series"
            ></sparkline-panel>

            <sparkline-panel 
                class="mb-6"
                title="Average Order" 
                caption="Average order this period"
                v-bind:trend="Math.abs(stats.revenue.averageOrderSummary.percentChange) + '%'" 
                v-bind:positive-trend="stats.revenue.averageOrderSummary.percentChange >= 0"
                v-bind:value="stats.revenue.averageOrderSummary.total"
                v-bind:data="stats.revenue.averageOrderSummary.series"
            ></sparkline-panel>

            <sparkline-panel 
                title="Net Profits" 
                caption="Net profits this period"
                v-bind:trend="Math.abs(stats.revenue.netProfitsSummary.percentChange) + '%'" 
                v-bind:positive-trend="stats.revenue.netProfitsSummary.percentChange >= 0"
                v-bind:value="stats.revenue.netProfitsSummary.total"
                v-bind:data="stats.revenue.netProfitsSummary.series"
            ></sparkline-panel>
        </div>
    </div>
</div>
