{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("fostercommerce\\commerceinsights\\bundles\\WidgetBundle") %}

{% set title = "Commerce Insights"|t('commerceinsights') %}
{% set lastSegment = craft.app.request.segments | last %}

{% if lastSegment == 'orders' %}
  {% set title = "Orders"|t('commerceinsights') %}
{% elseif lastSegment == 'items-sold' %}
  {% set title = "Items Sold"|t('commerceinsights') %}
{% elseif lastSegment == 'customers' %}
  {% set title = "Customers"|t('commerceinsights') %}
{% endif %}

{% set selectedSubnavItem = navItem %}

{% block header %}
  {% block pageTitle %}
    {% if title is defined and title|length %}
      <h1>{{ title }}</h1>
    {% endif %}
  {% endblock %}
  {% block contextMenu %}{% endblock %}
  <div class="flex-grow"></div>
  <date-range-picker @change="handleDateChange"></date-range-picker>
{% endblock %}

{% block content %}
  <div class="commerce-insights-wrapper">
    {% if not id is defined %}
      {% include "commerceinsights/vue/_" ~ lastSegment %}
    {% endif %}
  </div>
{% endblock %}
